<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的装修</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <style>
        .list-block .item-inner {
            padding-right: .75rem;
            position: static;
            width: 100%;
            padding-top: .4rem;
            padding-bottom: .35rem;
            min-height: 2.2rem;
            overflow: hidden;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="page" id='page-budget-edit'>
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class='title' th:text="新增"></h1>
    </header>
    <div class="content">
        <form id="budgetForm">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">名称</div>
                                <div class="item-input">
                                    <input type="text" placeholder="材料名称">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">类型</div>
                                <div class="item-input">
                                    <input type="text" name="apartment" id='picker-name' placeholder="选择类型">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">最高成本</div>
                                <div class="item-input">
                                    <input type="text" placeholder="最高成本">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">最低成本</div>
                                <div class="item-input">
                                    <input type="text" placeholder="最低成本">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">实际成本</div>
                                <div class="item-input">
                                    <input type="text" placeholder="实际成本">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">预算金额</div>
                                <div class="item-input">
                                    <input type="text" placeholder="预算金额">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">备注</div>
                                <div class="item-input">
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
        <div class="content-block">
            <div class="row">
                <div class="col-50"><a href="#" class="button button-big button-fill button-danger">取消</a></div>
                <div class="col-50"><a href="#" class="button button-big button-fill button-success">提交</a></div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' th:src="@{/static/js/classify.js}" src='/static/js/classify.js' charset='utf-8'></script>
<script>
    function submitBudget() {
        let data = $('#budgetForm').serializeArray();
        let url = '/budget/save';
        let param = {};
        param['mobilePhone'] = $('#mobilePhone').val();
        let maxCost = $("input[name=maxCost]").val();
        let minCost = $("input[name=minCost]").val();
        console.log(maxCost + ":" + minCost)
        if (maxCost && minCost) {
            if (parseFloat(minCost) > parseFloat(maxCost)) {
                $.toast("最低成本值不能大于最高成本！");
                return;
            }
        }
        for (let i = 0; i < data.length; i++) {
            let dataName = data[i]['name'];
            let dataValue = data[i]['value'];
            if (!dataValue && dataName != 'actualCost' && dataName != 'remark') {
                let dd = $('input[name=' + dataName + ']').attr("placeholder");
                $.toast(dd + "值不能为空！");
                return;
            }
            param[dataName] = dataValue;
        }
        console.log("请求路径%o", url);
        console.log("请求参数%o", param);
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: url,
            data: JSON.stringify(param),
            success: function (result) {
                console.log("数据%o", result);
                if (result.code == 200) {
                    $.toast('提交成功！');
                    $.closeModal()
                    $(".popup-overlay").remove('modal-overlay-visible');
                    window.location.reload();
                } else {
                    $.toast(result.message);
                }
            },
            error: function (result, type, err) {
                $.toast(err);
            }
        });
    }

    let raw = [
        {
            "name": "材料PP",
            "sub": [
                {
                    "name": "瓷砖2"
                },
                {
                    "name": "水泥"
                },
            ],
            "type": 0
        },
        {
            "name": "人工OO",
            "sub": [
                {
                    "name": "电工1"
                },
                {
                    "name": "水泥工"
                },
                {
                    "name": "安装工"
                },
            ],
            "type": 0
        }
    ];
    $("#picker-name").cityPicker({
        toolbarTemplate: '<header class="bar bar-nav">\
    <button class="button button-link pull-right close-picker">确定</button>\
    <h1 class="title">选择收货地址</h1>\
    </header>'
    });
    $.init();
</script>
</body>
</html>