<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的房间</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <style>
        .to-page-link {
            margin: 10rem 1rem;
        }

        .button.button-middle {
            width: 60%;
            margin: 0 auto;
            font-size: 0.85rem;
            height: 2.0rem;
            line-height: 1.9rem;
        }

        .list-block .item-inner {
            padding-right: .75rem;
            position: static;
            width: 100%;
            padding-top: .4rem;
            padding-bottom: .35rem;
            min-height: 2.2rem;
            overflow: hidden;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="page" id="page-house">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class='title' id="room-title">编辑</h1>
    </header>
    <!--    <div class="content">-->
    <input hidden th:value="${mobilePhone}" id="mobilePhone">
    <div class="content" th:if="${houseVo!=null}">
        <div th:if="${houseVo!=null and houseVo.balcony ge 1}"
             th:each="i,stat:${#numbers.sequence(1,houseVo.balcony)}">
            <p><a href="#" th:attr="data-roomType=4,data-index=${i}"
                  class="button button-fill button-middle button-success create-room"
                  th:text="${'阳台'+i}"></a></p>
        </div>
        <div th:if="${houseVo!=null and houseVo.livingroom ge 1}"
             th:each="i,stat:${#numbers.sequence(1,houseVo.livingroom)}">
            <p><a href="#" th:attr="data-roomType=1,data-index=${i}"
                  class="button button-fill button-middle button-dark create-room"
                  th:text="${'客厅'+i}"> </a></p>
        </div>
        <div th:if="${houseVo!=null and houseVo.bedroom ge 1}"
             th:each="i,stat:${#numbers.sequence(1,houseVo.bedroom)}">
            <p><a href="#" th:attr="data-roomType=0,data-index=${i}"
                  class="button button-fill button-middle button-primary create-room"
                  th:text="${'卧室'+i}"> </a></p>
        </div>
        <div th:if="${houseVo!=null and houseVo.kitchen ge 1}"
             th:each="i,stat:${#numbers.sequence(1,houseVo.kitchen)}">
            <p><a href="#" th:attr="data-roomType=2,data-index=${i}"
                  class="button button-fill button-middle button-danger create-room"
                  th:text="${'厨房'+i}"></a></p>
        </div>
        <div th:if="${houseVo!=null and houseVo.toilet ge 1}"
             th:each="i,stat:${#numbers.sequence(1,houseVo.toilet)}">
            <p><a href="#" th:attr="data-roomType=3,data-index=${i}"
                  class="button button-fill button-middle button-warning create-room"
                  th:text="${'卫生间'+i}"> </a></p>
        </div>
        <div class=" popup room-popup">
            <form id="roomForm">
                <input hidden th:value="${houseVo?.houseCode}" name="houseCode">
                <input hidden id="room-type" name="roomType">
                <input hidden id="room-index" name="roomIndex">
                <input hidden id="room-detailName" name="houseDetailName">
                <input hidden id="houseDetailCode" name="houseDetailCode">
                <div class="content">
                    <div class="list-block" style="margin:0 auto;">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">名称</div>
                                        <div class="item-input">
                                            <input type="text" name="roomNickName" placeholder="名称">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">顶面积</div>
                                        <div class="item-input">
                                            <input type="number" name="floorAreaSize" placeholder="(单位:平米)">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">墙面积</div>
                                        <div class="item-input">
                                            <input type="number" name="wallAreaSize" placeholder="(单位:平米)">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">地面积</div>
                                        <div class="item-input">
                                            <input type="number" name="ceilAreaSize" placeholder="(单位:平米)">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="align-top">
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-comment"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">备注</div>
                                        <div class="item-input">
                                            <textarea name="remark" placeholder="备注"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-50"><a href="#"
                                                   class="button button-big button-fill button-danger close-popup">取消</a>
                            </div>
                            <div class="col-50"><a href="#" onclick="submitRoom()"
                                                   class="button button-big button-fill button-success">提交</a></div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="content" th:unless="${houseVo!=null}">
        <div class="content-padded to-page-link">
            <div class="row">
                <div class="col-50">
                    <a th:href="@{'/house/page/0?mobile_phone='+${mobilePhone}}"
                       class="button button-big button-fill external">我的房子</a>
                </div>
                <div class="col-50">
                    <a th:href="@{'/house/page/3?mobile_phone='+${mobilePhone}}"
                       class="button button-big button-fill button-warning external">装修材料</a>
                </div>
            </div>
        </div>
    </div>

    <!--    </div>-->
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    function submitRoom() {
        let data = $('#roomForm').serializeArray();
        let url = "/house/save_room";
        let param = {};
        for (let i = 0; i < data.length; i++) {
            let dataName = data[i]['name'];
            let dataValue = data[i]['value'];
            param[dataName] = dataValue;
        }
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: url,
            data: JSON.stringify(param),
            success: function (result) {
                console.log("数据%o", result);
                if (result.code == 200) {
                    $.toast('提交成功！');
                    $(".modal-overlay").remove('modal-overlay-visible');
                    $.closeModal();
                } else {
                    $.toast(result.message);
                }
            },
            error: function (result, type, err) {
                $.toast("提交失败!");
            }
        });
    }

    $(document).on('click', '.create-room', function (e) {
        let roomType = $(this).attr("data-roomType");
        let roomIndex = $(this).attr("data-index");
        let mobilePhone = $("#mobilePhone").val();
        let title = $(this).text();
        $("#room-title").text(title);
        $("#room-detailName").val(title);
        $("#room-type").val(roomType)
        $("#room-index").val(roomIndex)
        $("input[name='roomNickName']").val("");
        $("input[name='floorAreaSize']").val("");
        $("input[name='wallAreaSize']").val("");
        $("input[name='ceilAreaSize']").val("");
        $("textarea[name='remark']").val("");
        let url = '/house/detail/' + roomType + "/" + roomIndex + "?mobile_phone=" + mobilePhone
        $.ajax({
            type: 'GET',
            url: url,
            success: function (result) {
                if (result.code == 200) {
                    console.log("detial数据%o", result);
                    let objVal = result.obj;
                    if (objVal) {
                        $("input[name='roomNickName']").val(objVal['roomNickName']);
                        $("input[name='floorAreaSize']").val(objVal['floorAreaSize']);
                        $("input[name='wallAreaSize']").val(objVal['wallAreaSize']);
                        $("input[name='ceilAreaSize']").val(objVal['ceilAreaSize']);
                        $("textarea[name='remark']").val(objVal['remark']);
                        $("#houseDetailCode").val(objVal['houseDetailCode']);
                    }
                    $.popup(".room-popup");
                    $(".popup-overlay").removeClass("modal-overlay-visible")
                } else {
                    $.toast(result.message);
                }
            },
            error: function (result, type, err) {
                $.toast(err);
            }
        })

    })

    $.init();
</script>
</body>
</html>