<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的装修</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <!--    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">-->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/icon.css"
          th:href="@{/static/css/icon.css}"/>
    <style>
        .to-page-link {
            margin: 10rem 1rem;
        }

        .list-block-layout {
            margin: 0 auto;
            font-size: .85rem;
        }

        .house-detail-box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-top: 0.2rem;
            padding-right: 0.8rem;

        }

        .budgetResult-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            /*position: fixed;*/
            /*z-index: 9999;*/
            /*bottom: 3.1rem*/
        }

        .budgetResult {
            display: flex;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background: #4cd964;
        }

        .budgetResult-insert {
            display: flex;
            width: 7rem;
            height: 7rem;
            flex-direction: column;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background: white;
        }

        .swiper-container {
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            padding-top: 1rem;
            z-index: 10;
        }

        .list-block .item-inner {
            padding-right: .75rem;
            position: static;
            width: 100%;
            padding-top: .4rem;
            padding-bottom: .35rem;
            min-height: 2.2rem;
            overflow: hidden;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .search-page {
            margin-bottom: -3rem;
            width: 100%;
            float: bottom;
            height: 100%;
            /*line-height: 1.4rem;*/
            /*text-align: center;*/
            display: flex;
            position: absolute;
            background: white;
            -webkit-transition: all .3s;
            transition: all .3s;
            opacity: 0;
            overflow: hidden;
            z-index: -10;
            margin-bottom: 2.4rem;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .search-page-active {
            margin-bottom: 2.4rem;
            margin-top: 1.8rem;
            opacity: 1;
            z-index: 10;
        }
    </style>
</head>
<body>
<div class="page" id="page-house">
    <nav class="bar bar-tab" style="background:white;">
        <a th:href="@{'/house/page/0?mobile_phone='+${mobilePhone}}"
           th:class="${type==0}?'tab-item external active':'tab-item external'">
            <!--            <span class="icon icon-form-home"></span>-->
            <div><i th:class="${type==0}?'icon icon-form-house':'icon icon-form-house-bk'"></i></div>

            <span class="tab-label">我的房子</span>
        </a>
        <a th:href="@{'/house/page/1?mobile_phone='+${mobilePhone}}"
           th:class="${type==1}?'tab-item external active':'tab-item external'">
            <!--            <span class="icon icon-settings"></span>-->
            <div><i th:class="${type==1}?'icon icon-form-zx':'icon icon-form-zx-bk'"></i></div>
            <span class="tab-label">装修房间</span>
        </a>
        <a th:href="@{'/house/page/2?mobile_phone='+${mobilePhone}}"
           th:class="${type==2}?'tab-item external active':'tab-item external'">
            <!--            <span class="icon icon-star"></span>-->
            <div><i th:class="${type==2}?'icon icon-form-budget':'icon icon-form-budget-bk'"></i></div>
            <span class="tab-label">装修仓库</span>
        </a>
    </nav>
    <input hidden id="mobilePhone" th:value="${mobilePhone}">
    <div th:if="${type==0}" class="content">
        <div class="content">
            <div class="list-block list-block-layout" th:attr="data-mobilePhone=${mobilePhone}"
                 th:onclick="toHouse(this)">
                <ul>
                    <li hidden>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-tel"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">手机号码</div>
                                <div class="item-input">
                                    <input type="number" readonly th:value="${mobilePhone}"
                                           name="mobilePhone" placeholder="手机号码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-mj"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">房屋面积</div>
                                <div class="item-input">
                                    <input type="number" th:value="${houseVo?.houseAreaSize}" name="houseAreaSize"
                                           placeholder="（单位：平米）">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-lx"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">房屋类型</div>
                                <div class="item-input">
                                    <select name="houseType" disabled>
                                        <option value="0" th:selected="${houseVo?.houseType==0}">新房</option>
                                        <option value="1" th:selected="${houseVo?.houseType==1}">二手房</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-hx"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">房屋户型</div>
                                <div class="item-input">
                                    <input type="text" name="apartment" placeholder="选择户型"
                                           th:value="${houseVo?.apartment}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-remark"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">备注</div>
                                <div class="item-input">
                                        <textarea name="remark" th:text="${houseVo?.remark}"
                                                  placeholder="备注"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="house-detail-box" th:if="${houseVo!=null}">
                <a th:href="@{'/house/page/detail/'+${mobilePhone}}"
                   class="link" style="font-size: 20px;">房子详情</a>
            </div>
            <div th:if="${totalAmount!=null or minTotalAmount!=null or maxTotalAmount!=null}"
                 class="swiper-pagination budgetResult-box bdg-pagination"></div>
            <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination'>
                <div class="swiper-wrapper">
                    <div th:if="${totalAmount!=null}" onclick="toBudgetDetail('self')"
                         class="swiper-slide budgetResult-box">
                        <div class="budgetResult">
                            <div class="budgetResult-insert">
                                <span>我的预算费用</span>
                                <p>
                            <span style="font-size: 25px;"
                                  th:text="${totalAmount>=10000?(totalAmount/10000):totalAmount}"></span>
                                    <span style="font-size: 20px;"
                                          th:text="${totalAmount>=10000?'万元':'元'}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${minTotalAmount!=null}" onclick="toBudgetDetail('min')"
                         class="swiper-slide budgetResult-box">
                        <div class="budgetResult" style="background: #0894ec;">
                            <div class="budgetResult-insert">
                                <span>最低预算费用</span>
                                <p>
                            <span style="font-size: 25px;"
                                  th:text="${totalAmount>=10000?(minTotalAmount/10000):minTotalAmount}"></span>
                                    <span style="font-size: 20px;"
                                          th:text="${minTotalAmount>=10000?'万元':'元'}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${maxTotalAmount!=null}" onclick="toBudgetDetail('max')"
                         class="swiper-slide budgetResult-box">
                        <div class="budgetResult" style="background: #ff6600;">
                            <div class="budgetResult-insert">
                                <span>最高预算费用</span>
                                <p>
                            <span style="font-size: 25px;"
                                  th:text="${totalAmount>=10000?(maxTotalAmount/10000):maxTotalAmount}"></span>
                                    <span style="font-size: 20px;"
                                          th:text="${maxTotalAmount>=10000?'万元':'元'}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:if="${type==1}">
        <div class="content" style="top: 0rem;bottom: 2.4rem;">
            <div class="content-block" th:if="${#lists.isEmpty(roomVos)}">
                <div class="content-padded to-page-link">
                    <div class="row" style="margin: 0 auto; width: 60%;">
                        <div>
                            <a th:href="@{'/house/page/0?mobile_phone='+${mobilePhone}}"
                               class="button button-big button-fill  external">我的房子</a>
                        </div>
                    </div>
                </div>
            </div>
            <dive th:unless="${#lists.isEmpty(roomVos)}" th:each="vo,stat:${roomVos}">
                <div class="card">
                    <h3>
                        <div class="card-header"
                             th:text="${vo?.houseDetailName}+${vo.roomNickName!=null && vo.roomNickName!=''?'【'+vo.roomNickName+'】':''}"></div>
                    </h3>
                    <div class="card-content">
                        <div class="list-block inset">
                            <ul th:each="hbVo,stat2:${vo?.houseBudgetInfoVos}">
                                <li>
                                    <a class="item-content item-link"
                                       th:href="@{'/house/page/detail/decorate/'+${hbVo?.houseDetailCode}+'?hbc='+${hbVo?.houseBudgetCode}}">
                                        <div class="item-media"><i class="icon icon-f7"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title" th:text="${hbVo?.budgetName}"></div>
                                            <div class="item-title"
                                                 th:text="${hbVo?.budgetAmount * hbVo?.budgetCount}+' 元'"></div>
                                            <!--                                        <div class="item-title" th:text="${hbVo?.budgetCount}"></div>-->
                                            <div class="item-after"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-block inset">
                            <a class="item-content item-link list-button"
                               th:href="@{'/house/page/detail/decorate/'+${vo?.houseDetailCode}}">添加材料</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{'/budget/query/list/'+${vo?.houseDetailCode}+'/'+${mobilePhone}}"
                           class="link" style="font-size: 16px;">选择材料</a>
                        <label style="font-size: 16px;"
                               th:text="'合计：'+${vo!=null and vo.totalBudgetAmount!=null ?vo.totalBudgetAmount:0}+' 元'"></label>

                    </div>
                </div>

            </dive>
            <!--        <div class="infinite-scroll-preloader">-->
            <!--            <div class="preloader"></div>-->
            <!--        </div>-->
        </div>
    </div>
    <div th:if="${type==2}">
        <div class="bar bar-header-secondary" style="top: 0.1rem;">
            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="cl-search"></label>
                    <input type="search" id='cl-search' placeholder='输入关键字...'/>
                </div>
            </div>
        </div>
        <div id="cl-content" class="content  infinite-scroll infinite-scroll-bottom"
             style="top: 1.7rem;bottom: 2.4rem;">
            <div class="card" th:each="vo,stat:${list}">
                <h3>
                    <div class="card-header" th:text="${vo?.budgetName+'【'+vo?.classifyName+'】'}"></div>
                </h3>
                <div class="card-content">
                    <div class="list-block inset">
                        <ul>
                            <li>
                                <a class="item-content item-link"
                                   th:href="@{'/house/page/budget/0/'+${mobilePhone}+'?bg_code='+${vo?.budgetCode}+'&val='+${vo?.budgetName}}">
                                    <!--                                    <div class="item-media"><i class="icon icon-f71"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title">装修名称</div>
                                        <div class="item-after" th:text="${vo?.budgetName}"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="item-content item-link"
                                   th:href="@{'/house/page/budget/3/'+${mobilePhone}+'?bg_code='+${vo?.budgetCode}+'&val='+${vo?.maxCost}}">
                                    <!--                                    <div class="item-media"><i class="icon icon-f71"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title">最高成本</div>
                                        <div class="item-after" th:text="${vo?.maxCost}"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="item-content item-link"
                                   th:href="@{'/house/page/budget/4/'+${mobilePhone}+'?bg_code='+${vo?.budgetCode}+'&val='+${vo?.minCost}}">
                                    <!--                                    <div class="item-media"><i class="icon icon-f71"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title">最低成本</div>
                                        <div class="item-after" th:text="${vo?.minCost}"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="item-content item-link"
                                   th:href="@{'/house/page/budget/5/'+${mobilePhone}+'?bg_code='+${vo?.budgetCode}+'&val='+${vo?.actualCost}}">
                                    <!--                                    <div class="item-media"><i class="icon icon-f71"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title">实际成本</div>
                                        <div class="item-after" th:text="${vo?.actualCost}"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="item-content item-link"
                                   th:href="@{'/house/page/budget/2/'+${mobilePhone}+'?bg_code='+${vo?.budgetCode}+'&val='+${vo?.budgetAmount}}">
                                    <!--                                    <div class="item-media"><i class="icon icon-f7"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title">预算金额</div>
                                        <div class="item-after" th:text="${vo?.budgetAmount}"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="item-content item-link"
                                   th:href="@{'/house/page/budget/-1/'+${mobilePhone}+'?bg_code='+${vo?.budgetCode}+'&val='+${vo?.remark}}">
                                    <!--                                    <div class="item-media"><i class="icon icon-f7"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title">备注</div>
                                        <div class="item-after"
                                             th:text="${vo?.remark!=null?#strings.length(vo?.remark):0} le 10 ? ${vo?.remark}:${#strings.append(#strings.substring(vo.remark,0,10),'...')}"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" style="font-size: 16px;"
                       th:attr="date-budgetName=${vo?.budgetName},date-budgetCode=${vo?.budgetCode}"
                       class="prompt-title-ok">快速复制</a>
                    <a href="#" style="font-size: 16px; color: red;"
                       th:onclick="'javascript:deleteBudget(\''+${vo.id}+'\')'"
                       class="link">删除</a>
                </div>
            </div>
        </div>
        <div class="content-block"
             style="display: flex;justify-content: center;position: fixed;bottom: 2.8rem;z-index: 10;right:50%; left: 50%; opacity: 0.8; margin: 0 auto; padding: 0px;">
            <!--                <p style="width: 60%;margin: auto;">-->
            <a th:href="@{'/budget/page/add/'+${mobilePhone}}" class="button button-big button-fill button-round">添加</a>
            <!--                </p>-->
        </div>
    </div>
<!--    <div class="content search-page">-->
<!--        <div>查询条件页面</div>-->
<!--    </div>-->
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script>
    function toHouse(e) {
        let mobilePhone = $(e).attr("data-mobilePhone");
        window.location.href = '/house/page/info/' + mobilePhone;
    }

    $("#cl-search").bind("input propertychange", function () {
        let keyword = $(this).val();
        search(keyword);
    })

    function search(keyword) {
        $("#cl-content").html('');
        let url = '/budget/search/keyword'
        let param = {};
        param.keyword = keyword;
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: url,
            data: JSON.stringify(param),
            success: function (result) {
                console.log("result", result)
                let html = '';
                if (result.code == 200) {
                    let data = result.data;
                    if (data && data.length > 0) {
                        $.each(data, function (i, val) {
                            html += val[''];
                        })
                        $("#zx-content").html(html);
                    }
                } else {
                    $.toast(result.message);
                }
            },
            error: function (result, type, err) {
                $.toast(err);
            }
        });
    }

    function deleteBudget(id) {
        if (!id) {
            $.toast("主键不存在！");
            return;
        }
        let url = '/budget/delete/' + id;
        $.confirm('确定要删除吗?', function () {
            $.ajax({
                type: 'DELETE',
                url: url,
                success: function (result) {
                    if (result.code == 200) {
                        $.toast('删除成功！');
                        window.location.reload();
                    } else {
                        $.toast(result.message);
                    }
                },
                error: function (result, type, err) {
                    $.toast("删除失败!");
                }
            })
        });

    }

    function toBudgetDetail(type) {
        let mobilePhone = $("#mobilePhone").val();
        window.location.href = "/house/page/budgetInfo/detail/" + type + "/" + mobilePhone;
    }

    $(document).on("focus", ".searchbar input", function (e) {
        var $input = $(e.target);
        $(".search-page").addClass("search-page-active");
    });
    $(document).on("click", ".searchbar-cancel", function (e) {
        var $btn = $(e.target);
        $btn.parents(".searchbar").removeClass("searchbar-active");
        $(".search-page").removeClass("search-page-active");
    });
    $(document).on("blur", ".searchbar input", function (e) {
        var $input = $(e.target);
        // $(".search-page").addClass("search-page-active");
        // $input.parents(".searchbar").removeClass("searchbar-active");
        // $(".search-page").removeClass("search-page-active");
    });
    $(document).on('click', '.prompt-title-ok', function () {
        let budgetName = $(this).attr("date-budgetName");
        let budgetCode = $(this).attr("date-budgetCode");
        $.prompt('请填写新的名称', '快速复制【' + budgetName + "】", function (value) {
            if (!value) {
                $.alert('请填写新的名称！');
                return;
            }
            if (budgetName == value) {
                $.toast('名称不能一样！');
                return;
            }
            let param = {};
            param['budgetName'] = value;
            param['budgetCode'] = budgetCode;
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/budget/copy/save',
                data: JSON.stringify(param),
                success: function (result) {
                    if (result.code == 200) {
                        $.toast('复制成功！');
                        window.location.reload();
                    } else {
                        $.toast(result.message);
                    }
                },
                error: function (result, type, err) {
                    $.toast(err);
                }
            });
        });
    });
    $.init();
</script>
</body>
</html>