<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">-->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <!--    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">-->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/login.css"
          th:href="@{/static/css/login.css}"/>
</head>
<body>
<div class="page-group">
    <div id="page-login" class="page">
        <header class="bar bar-nav">
            <h1 class="title">欢迎登录</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="number" id="mobilePhone" placeholder="Your phone number">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" id="password" placeholder="Password" class="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <p>
                    <a href="#" id="loginBtn" class="button button-big button-fill ">登录</a>
                </p>
                <a th:href="@{/login/register}" id="register"
                   class="button button-big button-fill button-warning external">注册</a>
            </div>
        </div>
    </div>
</div>
<!--<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>-->
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
<!--<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>-->
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
<!--<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>-->
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js' charset='utf-8'></script>
<script>
    $("#loginBtn").on('click', function () {
        let mobilePhone = $("#mobilePhone").val();
        let password = $("#password").val();
        if (!mobilePhone) {
            $.toast("请输入手机号码");
            return;
        }
        if (!password) {
            $.toast("请输入密码");
            return;
        }
        let params = {};
        params['mobilePhone'] = mobilePhone;
        params['password'] = password
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: '/login/user_login',
            data: JSON.stringify(params),
            success: function (result) {
                if (result.code == 200) {
                    $.toast("登录成功", 3000);
                    let url = '/house/page/0?mobile_phone=' + result['obj']['mobilePhone'];
                    window.location.href = url;
                } else {
                    $.toast(result.message, 3000);
                }
            },
            error: function (result, type, err) {
                $.toast(err);
            }
        })
    })
</script>
</body>
</html>