<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ping.mapper.IHouseInfoMapper">

    <resultMap type="com.ping.po.house.HouseInfoPo" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="houseCode" column="house_code"/>
        <result property="houseAreaSize" column="house_area_size"/>
        <result property="houseBudgetAmount" column="house_budget_amount"/>
        <result property="houseType" column="house_type"/>
        <result property="bedroom" column="bedroom"/>
        <result property="livingroom" column="livingroom"/>
        <result property="kitchen" column="kitchen"/>
        <result property="toilet" column="toilet"/>
        <result property="balcony" column="balcony"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="calculateBudgetTotalAmount" parameterType="string" resultType="map">
        SELECT
        SUM(ROUND(t2.budget_count* t2.budget_amount,2)) as account_total,
        SUM(ROUND(t2.budget_count*IFNULL(t3.min_cost,0),2))+SUM(ROUND(IF(t2.budget_code is null or
        t2.budget_code='',t2.budget_amount*budget_count,0),2)) as min_account_total,
        SUM(ROUND(t2.budget_count*IFNULL(t3.max_cost,0),2))+SUM(ROUND(IF(t2.budget_code is null or
        t2.budget_code='',t2.budget_amount*budget_count,0),2)) as max_account_total
        FROM
        sbdb.house_info AS t1
        INNER JOIN house_budget_info AS t2 ON t1.house_code = t2.house_code
        LEFT JOIN budget_info AS t3 ON t2.budget_code=t3.budget_code
        WHERE
        t1.`status` = 0
        AND t2.`status` = 0
        <if test="mobilePhone!=null and mobilePhone!=''">
            AND t1.mobile_phone=#{mobilePhone}
        </if>
    </select>
</mapper>