<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ping.mapper.IHouseInfoMapper">

    <resultMap type="com.ping.po.house.HouseInfoPo" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="houseCode" column="house_code"/>
        <result property="houseAreaSize" column="house_area_size"/>
        <result property="houseBudgetAmount" column="house_budget_amount"/>
        <result property="houseType" column="house_type"/>
        <result property="bedroom" column="bedroom"/>
        <result property="livingroom" column="livingroom"/>
        <result property="kitchen" column="kitchen"/>
        <result property="toilet" column="toilet"/>
        <result property="balcony" column="balcony"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>